
# Data Analytics Competition 2025
**Time Limit:** 1 Hour  
**Instructions:**
1.  Run the **Setup** cell below to load your environment.
2.  The dataset `competition_dataset.csv` is located in the `Data/` folder.
3.  **Submission:** * Answer the questions in the Google Form.
    * Save this notebook (Ctrl+S) and attach it to the form at the end.
    * *Note:* Questions marked with **(Visualization)** require a graph/visualization for extra marks.

---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configure visualizations
%matplotlib inline
sns.set_theme(style="whitegrid")

# Load the dataset
try:
    df = pd.read_csv('Data/competition_dataset.csv')
    print("✅ Setup Complete. Dataset loaded.")
    print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")
    display(df.head(3))
except FileNotFoundError:
    print("❌ Error: Could not find 'Data/competition_dataset.csv'.")
    print("Please ensure the 'Data' folder exists and contains the CSV file.")

✅ Setup Complete. Dataset loaded.
Rows: 130026, Columns: 14

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0.0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87.0,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1.0,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87.0pts,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2.0,United States,"Tart and snappy, the flavors of lime flesh and...",NaN,87.0,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),pinot gris,Rainstorm

## Section 1: Data Cleaning & Basics (Easy)

### Q1: The Clean-Up [Easy]

The `points` column contains dirty data (e.g., '92pts') and potential outliers.
* **(a)** Clean the column and convert it to numeric. What is the **mean** value of points (rounded to 2 decimals)?
* **(b)** Identify and remove any row with `points` > 100. What is the `title` of this wine?
* **(c)** Drop that specific outlier row. Now, how many rows remain in the dataset??

In [21]:
# Q1 Workspace
df['points']

TypeError: can only concatenate str (not "int") to str

### Q2: Handling Nulls [Easy]

The `price` column has missing (null) values.
* **(a)** Count how many null values exist in `price`.
* **(b)** Fill the missing values with the **median** price of the dataset.
* **(c)** What is the new **mean** price (rounded to 2 decimals)?

In [17]:
# Q2 Workspace
df['price'].isna()

0         False
1         False
2         False
3         False
4         False
          ...
130021    False
130022    False
130023    False
130024    False
130025    False
Name: price, Length: 130026, dtype: bool

### Q3: String Standardization [Easy]

The `variety` column has inconsistent capitalization (e.g., 'Pinot Noir' vs 'pinot noir').
* **(a)** How many unique values exist in `variety` before cleaning?
* **(b)** Standardize the column to **Title Case** (e.g. 'Pinot Noir'). After fixing, which wine variety is the most frequent in the dataset?

In [3]:
# Q3 Workspace

### Q4: De-Duplication [Easy]

The dataset contains duplicate rows.
* **(a)** Remove rows where both `description` and `title` are identical.
* **(b)** How many duplicate rows were removed?

In [4]:
# Q4 Workspace

## Section 2: Analysis & Feature Engineering (Medium)

### Q5: Vintage Extraction [Medium]

The vintage year is hidden inside the `title` column (e.g., 'Nicosia 2013...').
* **(a)** Extract the 4-digit year from `title` and create a new column called `year`. How many entries have a `year` of "2010"?
* **(b)** Convert the `year` column to numeric (coercing errors to NaN). What is the oldest vintage (minimum year) found?
* **(c)** Filter for wines from the year **2015**. What is the average `points` score for this year?

In [5]:
# Q5 Workspace

### Q6: Bargain Gems [Medium]

Find the "Bargain Gems".
* **(a)** Filter for wines with `points` >= 90 and `price` <= 20. How many wines fit this criteria?
* **(b)** Group these wines by `country`. Which country has the highest count of these bargain wines?

In [6]:
# Q6 Workspace

### Q7: Taster Analysis [Medium]

Analyze the critics in the `taster_name` column.
* **(a)** Who is the "harshest" critic? (Find the taster with the lowest average points given).
* **(b)** **(Visualization)**: Create a Boxplot showing the score distribution for the top 5 most frequent tasters. Based on the boxplot, which of the top 5 tasters has the largest **Interquartile Range (IQR)**?

In [7]:
# Q7 Workspace

### Q8: Correlation Check [Medium]

Does a longer description imply better quality?
* **(a)** Create a column `desc_len` (length of the `description` string). Calculate the correlation between `desc_len` and `points`. (Round to 2 decimals)
* **(b)** What is the average `desc_len` for wines from **"US"**?

In [8]:
# Q8 Workspace

## Section 3: Advanced Insights (Hard)

### Q9: Regional Dominance [Hard]

We want to understand regional specialties.
* **(a)** Group by `province` and `variety`. Count the number of wines for each combination.
* **(b)** For the province **'Oregon'**, what is the single most frequent variety?
* **(c)** **(Visualization)**: Create a Bar Chart showing the Top 10 wine varieties in the entire dataset.

In [9]:
# Q9 Workspace

### Q10: Price Segmentation [Hard]

Price Segmentation.
* **(a)** Create a new column `price_bucket` with bins: [0-20, 20-50, 50-100, 100-1000]. Labels: ['Budget', 'Average', 'Premium', 'Luxury']. How many wines fall into the 'Luxury' bucket?
* **(b)** **(Visualization)**: Plot a Scatterplot of `price` vs `points`.

In [10]:
# Q10 Workspace